.stretch-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
}
.grid-margin {
    margin-bottom: 2rem;
}
.stretch-card .card {
    width: 100%;
}

/* .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
} */